.home-page-img {
  width: -webkit-fill-available;
}

.home-page {
  position: relative;
}

.home-page-sub-desc {
  position: absolute;
  bottom: 130px;
  left: 89px;
  color: white;
  font-family: "Playwrite AU SA", cursive;
  font-weight: 500;
  font-size: 30px;
}

@media (max-width: 768px) {
  .home-page-img {
    height: 340px;
    object-fit: cover;
    object-position: center right;
  }
}

@media(max-width:600px) {
  .home-page-sub-desc {
    font-size: 14px;
    width: 219px;
    left: 15px;
    bottom: 35px;
  }
}

@media (min-width: 601px) and (max-width: 1450px) {

  .home-page-sub-desc {
    width: 40% !important;
  }
}